@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* font-family: 'Righteous', cursive; */
/* font-family: 'Sarala', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: rgb(236, 236, 236);
}


/* HEADER */
header {
    background: #0A66C2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
}

header h1 {
    color: whitesmoke;
    font-family: 'Righteous', cursive;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* FORMULARIO */
.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Sarala', sans-serif;
    padding: 30px;
}

.title {
    text-align: center;
}

.card {
    height: 240px;
    max-width: 550px;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.215);
}

.input {
    display: grid;
    width: 100%;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    
    padding-top: 5px;
    width: 100%;
}

button {
    width: 100%;
    max-width: 120px;
    padding: 6px;
    background: #0A66C2;
    border: none;
    border-radius: 4px;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
}

button:hover {
    background: #074079;
}

button:active {
    transform: scale(1.1);
    transition: 1ms;
}

/* TABELA */
.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Sarala', sans-serif;
    padding: 30px;
}

table {
    max-width: 550px;
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.215);
}

table thead th {
    border-bottom: 2px solid black;
    background: #0A66C2;
    font-family: 'Sarala', sans-serif;
    font-weight: 700;
    color: white;
    padding: 5px;
}

table tbody td {
    padding: 10px;
    border-top: 2px solid rgb(238, 238, 238);
}

table tfoot td {
    font-weight: 700;
    padding: 10px;
    border-top: 2px solid rgb(0, 0, 0);
}

table tbody td img{
    height: 20px;
    padding-left: 3px;
    padding-right: 4px;
}

table tbody td img:hover {
    cursor: pointer;
}
